<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">
  <!-- 목록 -->
  <select id="selectBoard" parameterType="search" resultType="board">
    SELECT b.*
    FROM (SELECT rownum rn, a.*
          FROM (SELECT *
                FROM   tbl_board
                <choose>
                  <when test="searchCondition != null and searchCondition == 'T'.toString() ">
                WHERE title LIKE '%'||#{keyword}||'%'
                  </when>
                  <when test="searchCondition == 'W'.toString() ">
                WHERE writer LIKE '%'||#{keyword}||'%'
                  </when>
                  <when test="searchCondition == 'TW'.toString() ">
                WHERE title LIKE '%'||#{keyword}||'%' 
                   OR writer LIKE '%'||#{keyword}||'%'
                  </when>
                </choose>
                ORDER BY board_no DESC
                ) a
          ) b
  </select> <!-- CDATA는 '<', '>'를 사용하기 위함 -->
  <!-- 
    WHERE b.rn > (#{page} - 1) * 5
    <![CDATA[
      AND b.rn <= (#{page} * 5)
    ]]> -->
  <select id="selectOne" parameterType="int">
  	SELECT board_no, title, content, writer, write_date
  	FROM   tbl_board
  	WHERE  board_no = #{boardNo}
  </select>
  <select id="selectTotal" parameterType="search" resultType="int">
    SELECT count(1)
    FROM   tbl_board
    <choose>
      <when test="searchCondition != null and searchCondition == 'T'.toString() ">
    WHERE title LIKE '%'||#{keyword}||'%'
      </when>
      <when test="searchCondition == 'W'.toString() ">
    WHERE writer LIKE '%'||#{keyword}||'%'
      </when>
      <when test="searchCondition == 'TW'.toString() ">
    WHERE title LIKE '%'||#{keyword}||'%' 
       OR writer LIKE '%'||#{keyword}||'%'
      </when>
    </choose>
  </select>
  <!-- 등록 -->
  <insert id="insertBoard" parameterType="board">
    INSERT INTO tbl_board(board_no, title, content, writer)
    VALUES(board_seq.nextval, #{title}, #{content}, #{writer})
  </insert>
  <!-- 수정 -->
  <update id="updateBoard" parameterType="board">
    UPDATE tbl_board
    SET    title = nvl(#{title}, title)
    <if test="content != null">
           ,content = #{content}
    </if>
    WHERE  board_no = #{boardNo} 
  </update>
  <!-- 삭제 -->
  <delete id="deleteBoard" parameterType="int">
    DELETE FROM tbl_board
    WHERE board_no = #{boardNo} 
  </delete>
</mapper>